extends layout

block content
  if (messages)
    div.messages-container
      each message in messages
        div.msg-container
          //- Render usernames of messages only if the user is logged in and is a member
          if (user && user.member)
            h4.msg-title= message.title
            p.msg-text= message.text
            div.msg-info
              p Posted by 
                span.msg-username #{message.user.username}
              p.msg-date= message.date
          else
            h4.msg-title= message.title
            p.msg-text= message.text
            div.msg-info
              p Posted by Anonymous
              p Date: N/A
          if (user && user.admin)
            div.delete-msg
              form(action="" method="POST")
                input#messageId(type="hidden", name="messageId", required="true", value=message._id)
                button(type="submit") Delete